
/* Estilos generales */
body {
    background: url('../img/Generate.png') no-repeat center center fixed;
    font-family: Arial, sans-serif;
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Contenedor principal */
.container {
    background: rgb(255, 255, 255); /* Fondo blanco con opacidad para destacar el contenido */
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
}

/* Título principal */
.container h1 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}

/* Etiquetas y entradas de formulario */
.container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* Botón de envío */
.container button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.container button:hover {
    background-color: #0056b3;
}

/* Resultado de la contraseña */
#passwordResult {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
    text-align: center;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* Botón de copiar */
#copyButton {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

/* Clase para ocultar el resultado */
.hidden {
    display: none;
}